@{
	ViewData["Title"] = "Acceso Denegado";
	bool hayReturnUrl = !string.IsNullOrEmpty(ViewBag.ReturnUrl);

}

<div class = "text-center text-white" style ="background-color: black">
	<h1>
		Su usuario no tiene los permisos suficientes @if(hayReturnUrl)
		{<span>para acceder a @ViewBag.ReturnUrl</span>}
	</h1>
	@*<img src= ""/>*@
	<a asp-action = "CerrarSesion">Cerrar Sesión</a>


</div>
