@{
    ViewData["Title"] = "Home Page";
}

@if(ViewBag.Mensaje != null)
{
    <div>
        <p class = "text-info">@ViewBag.Mensaje</p>
    </div>
}

<div class="text-center">
    <h1 class="display-4">Bienvenidos/as</h1>
    <p>Aprendiendo acerca de : <a href="https://docs.microsoft.com/aspnet/core"> como construir páginas web con ASP.NET Core</a>.</p>
</div>
