@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenidos/as</h1>
    <p>Aprender acerca de : <a href="https://docs.microsoft.com/aspnet/core"> como construir páginas web con ASP.NET Core</a>.</p>
</div>
